/* Authentication
******************************************************************************* */

@import "../_bootstrap-extended/include";

.authentication-wrapper {
  --#{$prefix}auth-basic-inner-max-width: 460px;

  display: flex;
  flex-basis: 100%;
  inline-size: 100%;
  min-block-size: 100vh;

  .authentication-inner {
    inline-size: 100%;
  }
  &.authentication-basic {
    align-items: center;
    justify-content: center;
    .authentication-inner {
      position: relative;
      max-inline-size: var(--#{$prefix}auth-basic-inner-max-width);
      .card {
        @include media-breakpoint-up(sm) {
          padding: 1.5rem;
        }
        .app-brand {
          margin-block-end: 1.5rem;
        }
      }
    }
  }
}
